{# Version du 09/08/2018 ajout de la documentation initSessionIcoCollection,



13/03/2018 Ajout readonly chk dans addTabForms SSI editable=0



24/10/2017 resolv bug dans "majTotals{{ label }}(debug)" + tr data-id data-class data-index
14/12/2016 resolv bug interaction de champs du même nom function majTotals{{ label }}() => préfixage avec label
24/11/2016 Optimisation & resolv bug latences jQuery addSubFormTab + Totals !!!

+ regroupement des virtuals

27/10/2016 resolv bug arDefault init

24/10/2016 addTabForms style th  +text-align: center;vertical-align: middle;
17/10/2016 + checked default values
+ sur <tr ... class=" .. col_{{ label }}_id_{{ (oneH.vars.value.id)?oneH.vars.value.id:0 }}" >
+ resolv bug libne tfoot vide (cTotal is itérable + |lenght>0)
+  editable=1 si = 0 boutons add + delete masqués
 add style table-small
  add td hidden SSI formType avoit champs de type 'hidden' + id class/colonne
  raw sur le label => personnalisation HTML possible <span title=... class=...  aria-hidden="true"></span> +
  detection de collection => prototype pour génération des sous formulaire imbriqué
 #}

{% spaceless %}
{#

Documentation de la macro "addStudentSelector()"

#}

{# docmacro initSessionIcoCollection(icoColName,sessionVarName,debug)
    [MACRO]
    [DESCRIPTION] Initialise en session (dans 'sessionVarName') un tableau d'icônes à partir d'une collection 'icoColName' donnée
    @param string icoColName [OPTIONNEL] le nom de la collection/librairie à utiliser (["fontAwesome","glyphicons",""]par defaut : "" => "fontAwesome")
    @param string sessionVarName [OPTIONNEL] le nom de la variable de session qui contiendra les valeurs (par defaut : "" => "icoCollection")
    @param bool debug pour afficher [OPTIONNEL] le mode débug (listing des icônes de la collection choisie (defaut:"" => false)
    #EXEMPLE de récupération d'une icône après appel de la macro initSessionIcoCollection(...):
    <pre>
        {{ '{% import "ApogeeBundle::macros.html.twig" as m %}
        {{ m.initSessionIcoCollection('','apo_myIcons') }}
        {% set myIcons=app.session.get('apo_myIcons',{}) %}
        {% if myIcons.library|default("")!="" %}
            {{ myIcons.library|raw }}
            permet d'inclure le fichier css de définition...
        {% endif %}
        {{ myIcons.student|raw }} OU {{ myIcons['student']|raw }}
    </pre>
enddocmacro initSessionIcoCollection(icoColName,sessionVarName,debug) #}
{% macro initSessionIcoCollection(icoColName,sessionVarName,debug) %}
    {% if (icoColName|default("")=="") %}{% set icoColName='fontAwesome' %}{% endif %}
    {% if (sessionVarName|default("")=="") %}{% set sessionVarName='icoCollection' %}{% endif %}
    {% if debug is null %}{% set debug=false %}{% endif %}
    {#
        'med2': '<i class="fas fa-hospital"></i>',
        'pha2': '<i class="fas fa-briefcase-medical"></i>',
        'ventes2': '<i class="fas fa-shopping-basket"></i>',
        'sciences2': '<i class="fas fa-atom"></i>',

    #}
    {% set iconsCollections={

        'fontAwesome': {

            'library': '<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">',

            'error': '<i class="fas fa-exclamation-triangle"></i>',
            'wait': '<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>',
            'student': '<i class="fas fa-graduation-cap"></i>',
            'default': '<i class="fas fa-university"></i>',
            'research': '<i class="fas fa-microscope"></i>',

            'sciences': '<i class="fab fa-react"></i>',
            'chimie': '<i class="fas fa-flask"></i>',
            'info': '<i class="fas fa-laptop-code"></i>',
            'math': '<i class="fas fa-drafting-compass"></i>',

            'pol': '<i class="fa fa-sitemap"></i>',
            'pol': '<i class="fas fa-award"></i>',
            'eco':'<i class="fas fa-chart-line"></i>',

            'drt':'<i class="fa fa-balance-scale"></i>',

            'sport': '<i class="fas fa-walking"></i>',
            'letter': '<i class="fas fa-book"></i>',
            'arts': '<i class="fas fa-theater-masks"></i>',
            'arts2': '<i class="fas fa-paint-brush"></i>',

            'med': '<i class="fas fa-medkit"></i>',

            'pha': '<i class="fas fa-pills"></i>',
            'odo':  '<i class="fas fa-tooth"></i>',
            'lng': '<i class="fas fa-language"></i>',
            'jou': '<i class="far fa-newspaper"></i>',
            'int': '<i class="fas fa-globe"></i>',
            'ens': '<i class="fas fa-user-graduate"></i>',
            'prof': '<i class="fas fa-chalkboard-teacher"></i>',
            'env': '<i class="fas fa-recycle"></i>',
            'esf': '<i class="fas fa-child"></i>',
            'music': '<i class="fas fa-music"></i>',

            'iut': '<i class="fas fa-microchip"></i>',

            'mng': '<i class="fas fa-sitemap"></i>',
            'ventes':'<i class="fas fa-shopping-cart"></i>'
        },
        'glyphicons': {

            'library':'<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">',

            'error': '<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>',
            'wait': '<span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>',
            'student': '<span class="glyphicon glyphicon-education" aria-hidden="true"></span>',

            'sciences': '<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>',
            'chimie': '<span class="glyphicon glyphicon-tint" aria-hidden="true"></span>',
            'pol': '<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>',
            'eco': '<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>',
            'drt': '<span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>',
            'sport': '<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>',
            'letter': '<span class="glyphicon glyphicon-book" aria-hidden="true"></span>',
            'med': '<span class="glyphicon glyphicon-header" aria-hidden="true"></span>',
            'pha': '<span class="glyphicon glyphicon-header" aria-hidden="true"></span>',
            'odo': '<span class="glyphicon glyphicon-header" aria-hidden="true"></span>',
            'lng': '<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>',
            'mng': '<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>',
            'ventes': '<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>',

        }
    }
    %}

    {% if debug %}
        {{ '{#' }}{{ iconsCollections[icoColName].library|raw }}{{ '#}' }}
        <div><span class="label label-danger">DEBUG VIEW ICONS ({{ icoColName }})</span>
            <div class="btn-group" role="group" aria-label="{{ icoColName }} ">
                {% for k,ico in iconsCollections[icoColName] if(k!="library") %}
                    <button type="button" class="btn btn-default" title="{{ k }} => {{ ico }}">{{ k }} {{ ico|raw }} </button>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {#{% if ctx is not null %}#}
         {#ctx icoCollection = {{ iconsCollections[icoColName]|json_encode }}#}
    {#{% endif %}#}
    {{ app.session.set(sessionVarName,iconsCollections[icoColName]) }}
{% endmacro initSessionIcoCollection  %}


{# docmacro addSelector(options)
    [MACRO]
    [DESCRIPTION] TEST à COMPLETER....
    @param string icoColName [OPTIONNEL] le nom de la collection/librairie à utiliser (["fontAwesome","glyphicons",""]par defaut : "" => "fontAwesome")
    @param string init [OPTIONNEL] un objet mappé contenanant les couples nom de variable et valeur d'initialisation
    @param bool debug pour afficher [OPTIONNEL] le mode débug (listing des icônes de la collection choisie (defaut:"" => false)
    #EXEMPLE de récupération d'une icône après appel de la macro initSessionIcoCollection(...):
    <pre>
        {% import "ApogeeBundle::macros.html.twig" as m %}
        {{ m.addStudentSelector('',{}) }}
    </pre>

    options = // json object
        { 'icoColName': "....",
          'init': { 'year': 2017, ...},
           'onEtuSelected': "javascriptFunctionORCode",
           'debug': false
       }

enddocmacro addSelector(options) #}
{% macro addSelector(options) %}
    {% set _ctrlPrefix = options.prefix|default('_apoSelector') %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% if options.select2|default(false) %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js" integrity="sha256-FA14tBI8v+/1BtcH9XtJpcNbComBEpdawUZA6BPXRVw=" crossorigin="anonymous"></script>#}
    {% endif %}

    {%  include '@Apogee/macro/etuSelector.html.twig' with {

        '_ctrlPrefix': _ctrlPrefix,

        'showCodification': options.codification|default(true),
        'showStudents': options.students|default(false),

        'compoES': options.composantes.enService|default("O"),
        'compoELC': options.composantes.elc|default(""),
        'compoType': options.composantes.type|default("J"),
        'compoTipFull': options.composantes.tipFullInfos|default(false),
        'compoTipDebug': options.composantes.tipsDebug|default(false),

        'dipLic': options.diplomes.lic|default(false),
        'dipES': options.diplomes.enService|default(true),
        'dipTipsFull': options.diplomes.tipsFullInfos|default(false),
        'dipTipsDebug': options.diplomes.tipsDebug|default(false),

        'etpLic': options.etapes.lic|default(false),
        'etpES': options.etapes.enService|default(true),
        'etpTipsFull': options.etapes.tipsFullInfos|default(false),
        'etpTipsDebug': options.etapes.tipsDebug|default(false),

    }%}
    {% include  '@Apogee/macro/apoJsTools.html.twig' with { '_ctrlPrefix': _ctrlPrefix, } %}
    <script language="JavaScript" type="text/javascript">
        $(function() {
            {% if options.select2|default(false) %}
                $('.select2').css('width','75%').each(function(i){ $(this).select2(); });
            {% endif %}

            $("#{{ _ctrlPrefix }}Year").attr('listYears','{{ options.init.years|default('')|raw }}');
            $("#{{ _ctrlPrefix }}Compo").attr('listComposantes','{{ options.init.composantes|default('')|raw }}');
            $("#{{ _ctrlPrefix }}Cursus").attr('listCursus','{{ options.init.cursus|default('')|raw }}');
            $("#{{ _ctrlPrefix }}Diplome").attr('listDiplomes','{{ options.init.diplomes|default('')|raw }}');

            $("#{{ _ctrlPrefix }}Year").attr('init',"{{ options.init.year|default('now'|date('Y')) }}");
            $("#{{ _ctrlPrefix }}Cursus").attr('init',"{{ options.init.cur|default('all') }}");
            $("#{{ _ctrlPrefix }}Compo").attr('init','{{ options.init.compo|default('')|raw }}');
            $("#{{ _ctrlPrefix }}Diplome").attr('init','{{ options.init.dip|default('')|raw }}');
            $("#{{ _ctrlPrefix }}Etape").attr('init','{{ options.init.etp|default('')|raw }}');
            $("#{{ _ctrlPrefix }}Num").attr('init','{{ options.init.etuNum|default('')|raw }}');


            {% if options.filters.cursus|default(false) == false%}
            $('.{{ _ctrlPrefix }}FilterComposantes').remove();
            {% endif %}

            {% if options.filters.cursus|default(false) == false%}
                $('.{{ _ctrlPrefix }}FilterCursus').remove();
            {% endif %}

            {% if options.filters.diplomes|default(false) == false%}
                $('.{{ _ctrlPrefix }}FilterDiplomes').hide();
            {% endif %}

            {% if options.filters.etapes|default(false) == false%}
                $('.{{ _ctrlPrefix }}FilterEtapes').hide();
            {% endif %}


            {% if options.events.onEtuSelect|default(null) is not null %}
                $('#{{ _ctrlPrefix }}Num').change(function(i){ {{ options.events.onEtuSelect|raw }} });
            {% endif %}

            {% if options.events.onEtapeSelect|default(null) is not null %}
                $('#{{ _ctrlPrefix }}Etape').change(function(i){ {{ options.events.onEtapeSelect|raw }} });
            {% endif %}

            {% if options.events.onDiplomeSelect|default(null) is not null %}
                $('#{{ _ctrlPrefix }}Diplome').change(function(i){ {{ options.events.onDiplomeSelect|raw }} });
            {% endif %}

            _apoJsTools_{{ _ctrlPrefix }}.initEtuSelector();
            {% if options.filters.cursus|default(false) or options.filters.etapes|default(false) or options.filters.diplomes|default(false) %}
                $('.dropdown-toggle').dropdown();
            {% endif %}

            // $('[data-toggle="popover"]').popover();
             //$('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endmacro addSelector %}
{% endspaceless %}