{% spaceless %}
    <div class="{{ _ctrlPrefix }}Object ApoSelectorObject panel panel-primary">
        <table class='table table-bordered table-striped'>
            <thead>
            <tr class="bg-primary"><th colspan="{{ (showCodification==true)?3:2 }}" class="bg-primary"><h3 class="text-center">Sélection {% if showStudents|default(false) %}d'un étudiant par sa formation...{% else %} d'une étape{% endif %}</h3></th></tr>
            </thead>
            <tbody>
            <tr><th style="width: 165px;">Ann&eacute;e</th>
                <td><select lass="{{ _ctrlPrefix }}FilterItem select2" id="{{ _ctrlPrefix }}Year" onchange="_apoJsTools_{{ _ctrlPrefix }}.changeYear(this.value);" ></select></td>
                <th style="{{ (showCodification==true)?"":"display: none;" }}"></th>
            </tr>
            <tr>
                <th>Composante
                    <span class="{{ _ctrlPrefix }}FilterComposantes pull-right small">
                        <span class="dropdown">
                            <button class="btn btn-default btn-xs dropdown-toggle" title="Options d'affichage/filtrage des composantes..." type="button" id="dropdownComposanteOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-filter"></span>
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownComposanteOptions">
                                 <li class="">
                                    <a>
                                        <div><label><input title="N'afficher que les composantes de type 'Juridique' ('J')..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.initComposantes();" name="{{ _ctrlPrefix }}ComposanteType" value="J" {{ (compoType=='J')?"checked":"" }} >&nbsp;Juridiques (J)</label></div>
                                        <div><label ><input title="N'afficher que les composantes de type 'Site/Géographique' ('G')..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.initComposantes();" name="{{ _ctrlPrefix }}ComposanteType" value="G" {{ (compoType=='G')?"checked":"" }} />&nbsp;Géographiques/sites (G)</label> </div>
                                        <div><label ><input title="N'afficher que les composantes de type 'Service/Structure' ('O')..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.initComposantes();" name="{{ _ctrlPrefix }}ComposanteType" value="O" {{ (compoType=='O')?"checked":"" }} />&nbsp;Structures/services (O)</label> </div>
                                        <div><label><input title="Afficher TOUTES les types de composantes..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.initComposantes();" name="{{ _ctrlPrefix }}ComposanteType" value="" {{ (compoType=="")?"checked":"" }} />&nbsp;Toutes</label> </div>
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="">
                                    <a>
                                        <div><label><input title="N'afficher que ceux qui sont 'En Service' ('O')..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.initComposantes();" name="{{ _ctrlPrefix }}ComposanteEnService" value="O" {{ (compoES=="O")?"checked":"" }} >&nbsp;"En Service" (O)</label></div>
                                        <div><label ><input title="N'afficher que ceux qui sont 'Hors Service' ('N')..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.initComposantes();" name="{{ _ctrlPrefix }}ComposanteEnService" value="N" {{ (compoES=="N")?"checked":"" }} />&nbsp;Hors Service (N)</label> </div>
                                        <div><label><input title="Tous afficher quelque soit sint état 'En Service'..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.initComposantes()" name="{{ _ctrlPrefix }}ComposanteEnService" value=""  {{ (compoES=="")?"checked":"" }} />&nbsp;Tous états ("")</label> </div>
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="">
                                    <a>
                                        <div><label><input title="N'afficher que ceux qui sont 'en Service' (Elc='O')..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.initComposantes();" name="{{ _ctrlPrefix }}ComposanteELC" value="O" {{ (compoELC=="O")?"checked":"" }} >&nbsp;Témoin "Elc" = "O"</label></div>
                                        <div><label ><input title="N'afficher que ceux qui sont PAS 'en Service' (Elc='N')..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.initComposantes();" name="{{ _ctrlPrefix }}ComposanteELC" value="N" {{ (compoELC=="N")?"checked":"" }} />&nbsp;Témoin "Elc" = "N"</label> </div>
                                        <div><label><input title="Tous afficher (quelque soit la valeur de Elc)..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.initComposantes()" name="{{ _ctrlPrefix }}ComposanteELC" value="" {{ (compoELC=="")?"checked":"" }} />&nbsp;Tous états "Elc" = ""</label> </div>
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="bg-warning" >
                                      <a title="Afficher les informations étendues dans le tooltips..." >
                                        <label><input onchange="_apoJsTools_{{ _ctrlPrefix }}.initComposantes();" id="{{ _ctrlPrefix }}ComposanteTipsFullInfos" type="checkbox"  {{ (compoTipFull)?"checked":"" }} />
                                        &nbsp;Informations étendues (tooltip)
                                        <br/>(si décoché = informations standards)
                                        </label>
                                      </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="alert-danger" >
                                    <a>
                                       <label><input onchange="_apoJsTools_{{ _ctrlPrefix }}.initComposantes();" id="{{ _ctrlPrefix }}ComposanteDebug" type="checkbox"  {{ (compoTipDebug)?"checked":"" }} />
                                        &nbsp;Informations de DEBUG (tooltip/trace)
                                       </label>
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </span>
                </th>
                <td><select class="{{ _ctrlPrefix }}FilterItem select2"  id="{{ _ctrlPrefix }}Compo" onchange="_apoJsTools_{{ _ctrlPrefix }}.changeCompo(this.value);" ></select></td>
                <th style="{{ (showCodification==true)?"":"display: none;" }}">&nbsp;<nobr><span class="badge" id="{{ _ctrlPrefix }}CompoCode" ></span></nobr></th>
            </tr>
            <tr><th>Cursus
                <span class="{{ _ctrlPrefix }}FilterCursus">
                    <span class="dropdown small pull-right">
                            <button class="btn btn-default btn-xs dropdown-toggle" title="Options d'affichage/filtrage des composantes..." type="button" id="dropdownComposanteOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-filter"></span>
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownComposanteOptions">
                                 <li class="well-sm">
                                    <div class="well-sm"><button class="btn btn-info" title="Afficher QUE les types de cursus 'Favoris LMD'..." onclick="_apoJsTools_{{ _ctrlPrefix }}.initCursus(false,true);"><b><span class="glyphicon glyphicon-star"></span> Favoris LMD</b></button></div>
                                    <div class="well-sm"><button class="btn btn-warning" title="Afficher QUE les types de cursus 'Apogée'..." onclick="_apoJsTools_{{ _ctrlPrefix }}.initCursus(true,false);"><b><span class="glyphicon glyphicon glyphicon-font"></span> Apogée</b></button></div>
                                    <div class="well-sm"><button class="btn btn-danger" title="Afficher TOUT les codes cursus 'Apogée' et les 'Favoris LMD'..." onclick="_apoJsTools_{{ _ctrlPrefix }}.initCursus(true,true);"><b><span class="glyphicon glyphicon-asterisk"></span> Tous</b></button></div>
                                 </li>
                            </ul>
                    </span>
                </span>
                </th>
                <td><select class="{{ _ctrlPrefix }}FilterItem select2"  id="{{ _ctrlPrefix }}Cursus" onchange="_apoJsTools_{{ _ctrlPrefix }}.changeCursus(this.value);" ></select></td>
                <th style="{{ (showCodification==true)?"":"display: none;" }}"><nobr>&nbsp;<span class="badge" id="{{ _ctrlPrefix }}CursusCode"></span></nobr></th>
            </tr>
            <tr>
                <th>Diplôme
                    <span class="{{ _ctrlPrefix }}FilterDiplomes pull-right">
                        <span class="dropdown small">
                            <button class="btn btn-default btn-xs dropdown-toggle" title="Options d'affichage/filtrage des diplômes..." type="button" id="dropdownDipOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-filter"></span>
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownDipOptions">
                                 <li><a>
                                    <div><label><input title="N'afficher que ceux qui sont 'en Service' ('O')..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.majListDip();" name="{{ _ctrlPrefix }}DiplomeEnService" value="O" {{ (dipES)?"checked":"" }} >&nbsp;En Service (O)</label></div>
                                    <div><label ><input title="N'afficher que ceux qui sont PAS 'en Service' ('N')..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.majListDip();" name="{{ _ctrlPrefix }}DiplomeEnService" value="N" />&nbsp;Hors Service (N)</label> </div>
                                    <div><label><input title="Tous afficher (en service et pas : 'O' et 'N')..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.majListDip()" name="{{ _ctrlPrefix }}DiplomeEnService" value=""  />&nbsp;Tous ("")</label> </div>
                                    </a>
                                </li>
                                <li class="bg-info"><a title="Lister les diplômes par le libellé court (si décoché= libellé long)..." >
                                   <label><input onchange="_apoJsTools_{{ _ctrlPrefix }}.majListDip();" id="{{ _ctrlPrefix }}DiplomeLic" type="checkbox"  {{ (dipLic)?"checked":"" }} />
                                    &nbsp;libellés courts
                                    <br/>(si décoché = libellés longs)</label>
                                    </a>
                                </li>
                                  <li class="bg-warning" >
                                      <a title="Afficher les informations étendues dans le tooltips..." >
                                        <label><input onchange="_apoJsTools_{{ _ctrlPrefix }}.majListDip();" id="{{ _ctrlPrefix }}DiplomeTipsFullInfos" type="checkbox"  {{ (dipTipsFull)?"checked":"" }} />
                                        &nbsp;Informations étendues (tooltip)
                                        <br/>(si décoché = informations standards)
                                        </label>
                                      </a>
                                </li>
                                <li class="bg-danger" >
                                    <a title="Afficher les informations de DEBUG  dans le tooltips..." >
                                       <label><input onchange="_apoJsTools_{{ _ctrlPrefix }}.majListDip();" id="{{ _ctrlPrefix }}DiplomeDebug" type="checkbox"  {{ (dipTipsDebug)?"checked":"" }} />
                                        &nbsp;Informations de DEBUG (tooltip/trace)
                                       </label>
                                    </a>
                                </li>
                            {#<li role="separator" class="divider"></li>#}
                            </ul>
                        </span>
                    </span>
                </th>
                <td><select class="bt-popover {{ _ctrlPrefix }}FilterItem select2"  id="{{ _ctrlPrefix }}Diplome" onchange="_apoJsTools_{{ _ctrlPrefix }}.changeDip(this.value,_apoJsTools_{{ _ctrlPrefix }}.selectedText(this));" ></select></td>
                <th style="{{ (showCodification==true)?"":"display: none;" }}">&nbsp;<nobr><span class="badge" id="{{ _ctrlPrefix }}DiplomeCode"></span></nobr></th>
            </tr>
            <tr>
                <th>Étape
                    <span class="{{ _ctrlPrefix }}FilterEtapes pull-right">
                        <span class="dropdown small">
                            <button class="btn btn-default btn-xs dropdown-toggle" title="Options d'affichage/filtrage des étapes..." type="button" id="dropdownEtpOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-filter"></span>
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownEtpOptions">
                                <li><a>
                                    <div><label><input title="N'afficher que ceux qui sont 'en Service' (O)..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.changeDip($('#{{ _ctrlPrefix }}Diplome').val());" name="{{ _ctrlPrefix }}EtapeEnService" value="O" {{ (etpES)?"checked":"" }} >&nbsp;En Service (O)</label></div>
                                    <div><label ><input title="N'afficher que ceux qui sont PAS 'en Service' (N)..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.changeDip($('#{{ _ctrlPrefix }}Diplome').val());" name="{{ _ctrlPrefix }}EtapeEnService" value="N" />&nbsp;Hors Service (N)</label> </div>
                                    <div><label><input title="Tous afficher (O et N)..." type="radio" onchange="_apoJsTools_{{ _ctrlPrefix }}.changeDip($('#{{ _ctrlPrefix }}Diplome').val());" name="{{ _ctrlPrefix }}EtapeEnService" value=""  />&nbsp;Tous ("")</label> </div>
                                    </a>
                                </li>
                                <li class="bg-info"><a title="Lister les étapes par le libellé court (si décoché= libellé long)..." >
                                        <label><input onchange="_apoJsTools_{{ _ctrlPrefix }}.changeDip($('#{{ _ctrlPrefix }}Diplome').val());" id="{{ _ctrlPrefix }}EtapeLic" type="checkbox"  {{ (etpLic)?"checked":"" }} />
                                        &nbsp;Libellés courts
                                        <br/>(si décoché = Libellés longs)
                                        </label>
                                    </a>
                                </li>
                                <li class="bg-warning">
                                    <a title="Afficher les informations étendues dans le tooltips..." >
                                        <label><input onchange="_apoJsTools_{{ _ctrlPrefix }}.changeDip($('#{{ _ctrlPrefix }}Diplome').val());" id="{{ _ctrlPrefix }}EtapeTipsFullInfos" type="checkbox"  {{ (etpTipsFull)?"checked":"" }} />
                                        &nbsp;Informations étendues (tooltip)
                                        <br/>(si décoché = informations standards)
                                        </label>
                                    </a>
                                </li>
                                <li class="bg-danger">
                                    <a title="Afficher les informations de DEBUG  dans le tooltips..." >
                                        <label><input onchange="_apoJsTools_{{ _ctrlPrefix }}.changeDip($('#{{ _ctrlPrefix }}Diplome').val());" id="{{ _ctrlPrefix }}EtapeDebug" type="checkbox"  {{ (etpTipsDebug)?"checked":"" }} />
                                        &nbsp;Informations de DEBUG (tooltip/trace)
                                        </label>
                                    </a>
                                </li>
                                {#<li role="separator" class="divider"></li>#}
                            </ul>
                        </span>
                    </span>
                </th>
                <td><select class="bt-popover {{ _ctrlPrefix }}FilterItem select2"  id="{{ _ctrlPrefix }}Etape" onchange="_apoJsTools_{{ _ctrlPrefix }}.changeEtp(this.value,_apoJsTools_{{ _ctrlPrefix }}.selectedText(this));" ></select></td>
                <th style="{{ (showCodification==true)?"":"display: none;" }}">&nbsp;<nobr><span class="badge" id="{{ _ctrlPrefix }}EtapeCode"></span></nobr></th>
            </tr>
            {% if showStudents|default(false) %}
            <tr>
                <th>Étudiant</th>
                <td><select class="{{ _ctrlPrefix }}FilterItem select2"  id="{{ _ctrlPrefix }}Num" onchange="_apoJsTools_{{ _ctrlPrefix }}.changeEtu(this.value);" ></select></td>
                <th style="{{ (showCodification==true)?"":"display: none;" }}">&nbsp;<a  style="color:gray;" id="{{ _ctrlPrefix }}NumCount"></a>&nbsp;<nobr><span class="badge" id="{{ _ctrlPrefix }}NumCode"></span></nobr></th>
            </tr>
            {% endif %}
            {#<tr><td colspan="2"><span class=" glyphicon glyphicon-user" title="Login / UID" ></span>&nbsp;<input readonly size="12" value="{{ app.session.get('uid') }}" id="{{ _ctrlPrefix }}diantUID" />&nbsp;<a id="{{ _ctrlPrefix }}Infos"></a><button title="Modifier" onclick="_apoJsTools_{{ _ctrlPrefix }}.changeUid($('#{{ _ctrlPrefix }}diantUID').val());" ><span class=" glyphicon glyphicon-ok"></span></button></td></tr>#}
            </tbody>
        </table>
    </div>
{% endspaceless %}